*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#navbar{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
background-color: rgb(61, 61, 61);

}
.hiddenNav{
    display: none;

}
#navbar img {
    height: 70px;
}

#navbar ul{
    display: flex;
    align-items: center;
gap: 50px;
font-size: 1.4rem;
list-style-type: none;


}
#navbar ul li{
    padding: 2px;
    padding-bottom: 5px;
    border: 2px solid transparent;
    color: white;
    font-variant: small-caps;
    cursor: pointer;
}
#navbar ul li a{
    color: white;

    text-decoration: none;
}